
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:800');

body {
    margin: 0;
	font-family: 'DIN Alternate Bold', sans-serif;
    background-color: rgb(53, 53, 53);
    overflow-y: hidden;
}
.msg-container{
    width: 600px;
    height: 350px;
    position: absolute;
    left: 15%;
    top: 40%;
    transform: translateY(-50%);
    overflow: hidden;
}


#slider{
    display: inline-flex;
    transition: 0.25s;
}

.msg-col{
    width: 600px;
    height: 280px;

}
 .msg-col h1{
     color: white;
     font-size: 30px;
     font-weight: 100;
     margin: 5px 0;
 }

 .msg-col p{
     color: white;
     font-size: 15px;
     line-height: 25px;
 }

 .controller{
     width: 2px; 
     height: 160px;
     display: block;
     background: grey;
     position: absolute;
     top: 25%;
     right: 50px;
     transform: translateY(-50%);
 }

#line1, #line2, #line3, #line4{
    height: 40px;
    width: 10px;
    cursor: pointer;
    transform: translateX(-50%);

}

#active{
    width: 5px;
    height: 40px;
    border-radius: 10px;
    background: #fff;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    transition: 0.25s;
}


.section2{
    position: relative;
    width: 90%;
    height: 40%;
    margin: 10px auto;
    background: rgb(101, 7, 189);
    background:  linear-gradient(to bottom right, rgb(101,7,189), rgb(194, 5, 194));
    border-radius: 15px;
    top: 38vh;

  }

  .featuresTitle h3{
        font-weight: 100;
        position: relative;
        text-align: center;
        font-size: 30px;
        color: white;
        margin: 10px 0px 0px 0px;
  }
  .section2 .box{
      position: relative;
      display:inline-block;
      width: 30%;
      height:35vh;
      background:rgb(119, 104, 252);
      margin: 15px;
      box-sizing: border-box;
      overflow: hidden;
      border-radius: 10px;
  }

  .section2 .box .icon{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgb(43, 13, 173);
      transition: 0.5s;
      z-index: 1;

  }

  .section2 .box:hover .icon{
      top: 20px;
      left:calc(50% - 30px);
      width: 60px;
      height: 60px;
      border-radius: 50%;
  }

  .section2 .box .icon .fas{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate( -50%, -50%);
      font-size: 60px;
      transition: 0.5s;
      color:rgb(0, 0, 0);
  }

  .section2 .box:hover .icon .fas{
      font-size: 30px;
  }

  .section2 .box .featurescontent{
      font-weight: 100;
      position: absolute;
      top: 60px;
      height: (100% - 80px);

      text-align: center;
      padding: 20px;
      box-sizing: border-box;
      transition: 0.5s;
  }

  .section2 .box .featurescontent h3{
      font-weight: 100;
      margin: 0;
      padding: 0;
      color: white;
      font-size: 1.5vw;
  }

  .section2 .box .featurescontent p{
    margin: 0;
    padding: 0;
    color: white;
    font-size: 0.75vw;
}

