
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:800');

body{
    background: rgb(2,0,36);
    background: linear-gradient(163deg, rgba(2,0,36,1) 0%, rgb(47, 47, 105) 21%, rgb(6, 187, 223) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300% + 50vh;
}
.body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0;

}

.mainContainer{

    left: 30%;
    padding: 0;
    background: rgb(12, 12, 14, 0.8);
    color: white;
    width: 1000px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.bar{
    width: 80%;
    position: relative;
    background: black;
    color: white;
    display: block;
    border-radius: 10px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding: 0 20px;
    cursor:pointer;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 15px;
    letter-spacing: 0.5px;
    transition: 0.3s ease;
    z-index: 1;
}
.symbol{
    position: relative;
}

#plus1, #plus2, #plus3,#plus4, #plus5, #plus6,#plus7, #plus8, #plus9, #plus10, #plus11{
    display: block;
    position: absolute;
    right: 0;
    height: 25px;
    width: 25px;
    background: white;
    color: black;
    font-size: 25px;
    line-height: 25px;
    top: 50%;
    transform: translateY(50%);
    border-radius: 50%;
}

#minus1, #minus2, #minus3,#minus4, #minus5, #minus6,#minus7, #minus8, #minus9, #minus10, #minus11{
    display: none;
    position: absolute;
    right: 0;
    height: 25px;
    width: 25px;
    background: white;
    color: black;
    font-size: 25px;
    line-height: 25px;
    top: 50%;
    transform: translateY(50%);
    border-radius: 50%;
}

.context{
    width: 80%;
    background: grey;
    color: transparent;
    margin: auto;
    font-size: 0px;
    text-align: justify;
    padding: 0 20px 20px 20px;
    border-radius: 0 0 15px 15px;
    position: relative;
    transition: 0.3s ease;
    top: -40px;
    height: 0px
}


.context img{
    height: 0px;
}


.context.show{
    padding-top: 40px;
    top: -25px;
    height: 350px ;
    font-size: 20px;
    color: white;
}

.context.show img{
    padding-top: 5px;
    top: -25px;
    width: 100%;
    height: 30%;
    margin-left: 0%;
}

.context1.show img{
    padding-top: 5px;
    top: -25px;
    width: 100%;
    height: 40%;
    margin-left: 0%;
}

.context2.show img{
    padding-top: 5px;
    top: -25px;
    width: 100%;
    height: 45%;
    margin-left: 0%;
}


.context3.show img{
    padding-top: 5px;
    top: -25px;
    width: 100%;
    height: 25%;
    margin-left: 0%;
}


.context4.show img{
    padding-top: 5px;
    top: -25px;
    width: 100%;
    height: 55%;
    margin-left: 0%;
}


.context5.show img{
    padding-top: 5px;
    top: -25px;
    width: 100%;
    height: 25%;
    margin-left: 0%;
}


.context6.show img{
    padding-top: 5px;
    top: -25px;
    width: 100%;
    height: 40%;
    margin-left: 0%;
}


.context7.show img{
    padding-top: 5px;
    top: -25px;
    width: 100%;
    height: 40%;
    margin-left: 0%;
}


.context8.show img{
    padding-top: 5px;
    top: -25px;
    width: 100%;
    height: 40%;
    margin-left: 0%;
}

.context9.show img{
    padding-top: 5px;
    top: -25px;
    width: 100%;
    height: 30%;
    margin-left: 0%;
}


.context10.show img{
    padding-top: 5px;
    top: -25px;
    width: 100%;
    height: 40%;
    margin-left: 0%;
}


.context11.show img{
    padding-top: 5px;
    top: -25px;
    width: 100%;
    height: 40%;
    margin-left: 0%;
}









input{
    -webkit-appearance: none;
    display: none;
}

#check1:checked ~ .mainContainer .bar1{
    border-radius: 10px 10px 0 0;
}
#check2:checked ~ .mainContainer .bar2{
    border-radius: 10px 10px 0 0;
}
#check3:checked ~ .mainContainer .bar3{
    border-radius: 10px 10px 0 0;

}
#check4:checked ~ .mainContainer .bar4{
    border-radius: 10px 10px 0 0;
}
#check5:checked ~ .mainContainer .bar5{
    border-radius: 10px 10px 0 0;
}
#check6:checked ~ .mainContainer .bar6{
    border-radius: 10px 10px 0 0;
}
#check7:checked ~ .mainContainer .bar7{
    border-radius: 10px 10px 0 0;
}
#check8:checked ~ .mainContainer .bar8{
    border-radius: 10px 10px 0 0;
}
#check9:checked ~ .mainContainer .bar9{
    border-radius: 10px 10px 0 0;

}
#check10:checked ~ .mainContainer .bar10{
    border-radius: 10px 10px 0 0;
}
#check11:checked ~ .mainContainer .bar11{
    border-radius: 10px 10px 0 0;

}






#check1:checked ~ .mainContainer .bar #plus1,
#check2:checked ~ .mainContainer .bar #plus2,
#check3:checked ~ .mainContainer .bar #plus3,
#check4:checked ~ .mainContainer .bar #plus4,
#check5:checked ~ .mainContainer .bar #plus5,
#check6:checked ~ .mainContainer .bar #plus6,
#check7:checked ~ .mainContainer .bar #plus7,
#check8:checked ~ .mainContainer .bar #plus8,
#check9:checked ~ .mainContainer .bar #plus9,
#check10:checked ~ .mainContainer .bar #plus10,
#check11:checked ~ .mainContainer .bar #plus11{
    display: none;
}

#check1:checked ~ .mainContainer .bar #minus1{
    display: block;
}
#check2:checked ~ .mainContainer .bar #minus2{
    display: block;
}
#check3:checked ~ .mainContainer .bar #minus3{
    display: block;
}
#check4:checked ~ .mainContainer .bar #minus4{
    display: block;
}
#check5:checked ~ .mainContainer .bar #minus5{
    display: block;
}
#check6:checked ~ .mainContainer .bar #minus6{
    display: block;
}
#check7:checked ~ .mainContainer .bar #minus7{
    display: block;
}
#check8:checked ~ .mainContainer .bar #minus8{
    display: block;
}
#check9:checked ~ .mainContainer .bar #minus9{
    display: block;
}
#check10:checked ~ .mainContainer .bar #minus10{
    display: block;
}
#check11:checked ~ .mainContainer .bar #minus11{
    display: block;
}